<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkkj.backend.dao.mybatis.mapper.biz.GateInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zkkj.backend.entity.biz.GateInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="airport" property="airport" jdbcType="VARCHAR" />
    <result column="gate" property="gate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, airport, gate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zkkj_gate_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zkkj_gate_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zkkj.backend.entity.biz.GateInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zkkj_gate_info (id, airport, gate
      )
    values (#{id,jdbcType=INTEGER}, #{airport,jdbcType=VARCHAR}, #{gate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zkkj.backend.entity.biz.GateInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zkkj_gate_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="airport != null" >
        airport,
      </if>
      <if test="gate != null" >
        gate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="airport != null" >
        #{airport,jdbcType=VARCHAR},
      </if>
      <if test="gate != null" >
        #{gate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zkkj.backend.entity.biz.GateInfo" >
    update zkkj_gate_info
    <set >
      <if test="airport != null" >
        airport = #{airport,jdbcType=VARCHAR},
      </if>
      <if test="gate != null" >
        gate = #{gate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zkkj.backend.entity.biz.GateInfo" >
    update zkkj_gate_info
    set airport = #{airport,jdbcType=VARCHAR},
      gate = #{gate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>