<?xml version="1.0" encoding="UTF-8"?>    
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
       xmlns:context="http://www.springframework.org/schema/context"  
       xmlns:mvc="http://www.springframework.org/schema/mvc"  
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd">  
    <!--配置拦截器, 多个拦截器,顺序执行 -->
 	<mvc:interceptors>  
        <mvc:interceptor>  
             <!-- 匹配的是url路径， 如果不配置或/**,将拦截所有的Controller -->                 
             <mvc:mapping path="*.do" />                
             <mvc:mapping path="/**/*.do" />
			 <!--以下地址不予拦截 -->
			<!-- <mvc:exclude-mapping path="/**/logout*" /> -->
			<mvc:exclude-mapping path="/test/testApi.do"/>
            <bean class="com.zj.api.common.interceptor.SystemInterceptor"></bean>
        </mvc:interceptor>
	</mvc:interceptors>
</beans>