<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zj.web.modules.document.dao.ApiMapper" >
<!--  查询api 类目json -->
 <select id="getApiCategoryList" parameterType="java.util.Map" resultType="java.util.Map">
    select * from tb_api_category where 1 = 1
 </select>
</mapper>